<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>招募供应商</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://srm.weilongshipin.com:80/jeecg/plug-in/mutiLang/zh-cn.js"></script>
    <script type="text/javascript" src="http://srm.weilongshipin.com:80/jeecg/plug-in/jquery/jquery-1.9.1.js"></script>
    <link rel="stylesheet" href="http://srm.weilongshipin.com:80/jeecg/plug-in/bootstrap3.3.5/css/bootstrap.min.css"
          type="text/css">
    <script type="text/javascript"
            src="http://srm.weilongshipin.com:80/jeecg/plug-in/bootstrap3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://srm.weilongshipin.com:80/jeecg/plug-in/bootstrap3.3.5/css/default.css"
          type="text/css">
    <script type="text/javascript" src="http://srm.weilongshipin.com:80/jeecg/plug-in/layer/layer.js"></script>
    <link rel="stylesheet" href="http://srm.weilongshipin.com/jeecg/plug-in/layer/skin/layer.css"
          id="layui_layer_skinlayercss" style="">
    <script type="text/javascript" src="http://srm.weilongshipin.com:80/jeecg/plug-in/laydate/laydate.js"></script>
    <link rel="stylesheet" href="http://srm.weilongshipin.com/jeecg/plug-in/laydate/theme/default/laydate.css?v=5.0.9"
          id="layuicss-laydate">
    <script type="text/javascript"
            src="http://srm.weilongshipin.com:80/jeecg/plug-in/Validform/js/Validform_v5.3.1_min_zh-cn.js"></script>
    <script type="text/javascript"
            src="http://srm.weilongshipin.com:80/jeecg/plug-in/Validform/js/Validform_Datatype_zh-cn.js"></script>
    <script type="text/javascript"
            src="http://srm.weilongshipin.com:80/jeecg/plug-in/Validform/js/datatype_zh-cn.js"></script>
    <script type="text/javascript"
            src="http://srm.weilongshipin.com:80/jeecg/plug-in/Validform/plugin/passwordStrength/passwordStrength-min.js"></script>
    <link rel="stylesheet" href="http://srm.weilongshipin.com:80/jeecg/plug-in/webuploader/custom.css" type="text/css">
    <script type="text/javascript"
            src="http://srm.weilongshipin.com:80/jeecg/plug-in/webuploader/webuploader.min.js"></script>
    <link rel="stylesheet"
          href="http://srm.weilongshipin.com:80/jeecg/plug-in/themes/bootstrap-ext/css/validform-ext.css"
          type="text/css">
    <link rel="stylesheet" href="http://srm.weilongshipin.com:80/jeecg/plug-in/hplus/css/plugins/iCheck/custom.css"
          type="text/css">
    <script type="text/javascript"
            src="http://srm.weilongshipin.com:80/jeecg/plug-in/hplus/js/plugins/iCheck/icheck.min.js"></script>
    <link rel="stylesheet" href="http://srm.weilongshipin.com:80/jeecg/plug-in/bootstrap3.3.5/css/default.css"
          type="text/css">
    <script type="text/javascript"
            src="http://srm.weilongshipin.com:80/jeecg/plug-in/themes/bootstrap-ext/js/common.js"></script>
    <link rel="stylesheet" href="http://srm.weilongshipin.com:80/jeecg/plug-in/bootstrap3.3.5/css/bootstrap-form.css"
          type="text/css">
    <style>

    </style>
</head>
<body style="overflow:hidden;overflow-y:auto;">
<h3 style="margin-top: 5%;margin-left: 8%">尊敬卫龙食品供应商：</h3>
<h4 style="color: brown;margin-top: 20px;margin-left: 8%">
    很高兴与贵公司真诚的合作！
    为了方便合作，请您填写如下信息，请确保您所填写的信息属实，谢谢！
</h4>
<div class="container" style="width:100%; font-size: 14px;">

    <div class="panel-body">
        <form class="form-horizontal" role="form" id="formobj" action="tDCustomerController.do?doAdd" method="POST">
            <input type="hidden" id="btn_sub" class="btn_sub">
            <input type="hidden" id="id" name="id">
            <div class="row">
                <div class="bt-item col-md-6 col-sm-6" style="clear:both ;padding-top: 20px">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 bt-label">
                            品类 ：<em style="color: red">*</em>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 bt-content">
                            <select name="notype" class="form-control input-sm" datatype="*">
                                <option value=""></option>
                                <option value="60">食材类（肉类、蔬菜、调味品、干货、杂粮）</option>
                                <option value="90">废品/三级品</option>
                                <option value="70">低值易耗/办公</option>
                                <option value="50">服务类</option>
                                <option value="20">基建工程</option>
                                <option value="40">资产设备</option>
                                <option value="10">生产物料(原料/物料)</option>
                                <option value="30">促销物料/低耐品</option>
                                <option value="80">其他类型</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="bt-item col-md-6 col-sm-6" style="clear:both ;padding-top: 18px">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 bt-label">
                            公司全称：<em style="color: red">*</em>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 bt-content">
                            <input name="companyDesc" type="text" class="form-control input-sm" maxlength="32"
                                   datatype="*" placeholder="请输入公司描述" ignore="checked">
                        </div>
                    </div>
                </div>
                <div class="bt-item col-md-6 col-sm-6" style="clear:both ;padding-top: 18px">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 bt-label">
                            公司产品描述：<em style="color: red">*</em>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 bt-content">
                            <input name="matnr" type="text" class="form-control input-sm" maxlength="32" datatype="*"
                                   placeholder="请输入公司主要产品描述">
                        </div>
                    </div>
                </div>
                <div class="bt-item col-md-6 col-sm-6" style="clear:both;padding-top: 18px">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 bt-label">
                            公司电话：<em style="color: red">*</em>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 bt-content">
                            <input name="comtel" type="text" class="form-control input-sm" maxlength="32"
                                   placeholder="请输入公司电话" ignore="checked">
                        </div>
                    </div>
                </div>
                <div class="bt-item col-md-6 col-sm-6" style="clear:both;padding-top: 18px">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 bt-label">
                            注册地址：<em style="color: red">*</em>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 bt-content">
                            <input name="address" type="text" class="form-control input-sm" maxlength="32" datatype="*"
                                   placeholder="请输入注册地址" ignore="checked">
                        </div>
                    </div>
                </div>
                <div class="bt-item col-md-6 col-sm-6" style="clear:both;padding-top: 18px">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 bt-label">
                            税号：<em style="color: red">*</em>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 bt-content">
                            <input name="suihao" type="text" class="form-control input-sm" maxlength="32" datatype="*"
                                   placeholder="请输入税号" ignore="checked">
                        </div>
                    </div>
                </div>
                <div class="bt-item col-md-6 col-sm-6" style="clear:both;padding-top: 18px">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 bt-label">
                            法人代表：<em style="color: red">*</em>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 bt-content">
                            <input name="frdb" type="text" class="form-control input-sm" maxlength="32" datatype="*"
                                   placeholder="请输入法人代表" ignore="checked">
                        </div>
                    </div>
                </div>
                <div class="bt-item col-md-6 col-sm-6" style="clear:both;padding-top: 18px">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 bt-label">
                            上传营业执照：
                        </div>
                        <div class="col-sm-10">
                            <div id="picker">上传图片</div>
                            <div id="img"></div>
                        </div>
                        <label class="col-sm-2 control-label"></label>
                    </div>
                </div>

                </div>

                <div class="bt-item col-md-6 col-sm-6" style="clear:both;padding-top: 18px">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 bt-label">
                            联系人：<em style="color: red">*</em>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 bt-content">
                            <input name="pernr" type="text" class="form-control input-sm" maxlength="32" datatype="*"
                                   placeholder="请输入联系人" ignore="checked">
                        </div>
                    </div>
                </div>
                <div class="bt-item col-md-6 col-sm-6" style="clear:both;padding-top: 18px">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 bt-label">
                            手机号码：<em style="color: red">*</em>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 bt-content">
                            <input name="phone" type="text" class="form-control input-sm" maxlength="32" datatype="m"
                                   placeholder="请输入手机号" ignore="checked">
                        </div>
                    </div>
                </div>
                <div class="bt-item col-md-6 col-sm-6" style="clear:both;padding-top: 18px">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 bt-label">
                            邮箱：<em style="color: red">*</em>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 bt-content">
                            <input name="email" type="text" class="form-control input-sm" maxlength="32" datatype="e"
                                   placeholder="请输入邮箱" ignore="checked">
                        </div>
                    </div>
                </div>
                <div class="bt-item col-md-6 col-sm-6" style="clear:both;padding-top: 18px">
                    <div class="row">

                        <div align="center">
                            <!--<input type="submit" value="注册供应商" onclick="subForm()" class="btn btn-default"-->
                                   <!--style="width: 188px;color: #d0f1ff;background-color: #ef4300;text-align: center ">-->
                            <button type="submit" style="width: 188px;color: #d0f1ff;background-color: #ef4300;text-align: center " class="btn btn-primary" id="btn" type="button">注册供应商</button>
                            <a href="javascript:history.back(-1)">返回上一页</a>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
<script type="text/javascript">

    $('#btn').click(function () {
        var data = $('')
    })





    function subForm() {
        $("#formobj").Validform({
            tiptype: function (msg, o, cssctl) {
                if (o.type == 3) {
                    validationMessage(o.obj, msg);
                } else {
                    removeMessage(o.obj);
                }
            },
            btnSubmit: "#btn_sub",
            btnReset: "#btn_reset",
            ajaxPost: true,
            beforeSubmit: function (curform) {
            },
            usePlugin: {
                passwordstrength: {
                    minLen: 6,
                    maxLen: 18,
                    trigger: function (obj, error) {
                        if (error) {
                            obj.parent().next().find(".Validform_checktip").show();
                            obj.find(".passwordStrength").hide();
                        } else {
                            $(".passwordStrength").show();
                            obj.parent().next().find(".Validform_checktip").hide();
                        }
                    }
                }
            },
            callback: function (data) {
                debugger;
                if (data.success == true) {
                    alert("恭喜您成功加入卫龙供应商行列！");
                    window.location.href = "http://srm.weilongshipin.com";
                } else {
                    if (data.responseText == '' || data.responseText == undefined) {
                        alert(data.msg);
                    } else {
                        try {
                            var emsg = data.responseText.substring(data.responseText.indexOf('错误描述'), data.responseText.indexOf('错误信息'));
                            alert(emsg);
                        } catch (ex) {
                            alert(data.responseText + "");
                        }
                    }
                    return false;
                }
            }
        });
    }
</script>

</body>
</html>