{extend name='xxx/mb'/}

{block name='main'}


<style>
    .item {
        display: inline-block;
    }

    .pagination>li {
        float: left;
        margin: 0 5px;
        width: 38px;
        height: 38px;
        line-height: 38px;
        background: #fff;
        border: 1px solid #ebebeb;
        color: #bdbdbd;
        font-size: 14px;
        text-align: center;
    }


    .contabr{
        width: 70%;
        height: 600px;
    }



</style>

<div class="contbar" style="width:70%">
    <div class="address" style="font-size: 14px; ">


        <img src="http://srm.weilongshipin.com/Tonotice/address_home.jpg">
        <span>当前位置：</span> <a href="">招标公告</a>


    </div>
    <div class="add_blank"></div>
    <div id="item" name="item">
        <div class="item">
            <ul class="clearfix">
                {foreach $list as $v}

                <div class="item"><p style="font-size: 14px;border-bottom: 1px; ">
                    <a class="more1" href="{:url('index/Index/detail', ['id'=>$v['id']])}"> {$v.title}</a>
                    <span style="float: right" id="budate">2019-05-27



                        </span>
                </p>
                </div>
                {/foreach}
                <div class="clear"></div>
            </ul>
        </div>
        <div class="m-style M-box" id="m-box">


            </div><span class="acctive"></span>
    </div>


    {$list|raw}
    </div>
    <script>



        $(document).ready(function () {
            <!-- debugger; -->
            var totalData;
//                    page(i);
            var pageNo;
            getpageCount();
            page(pageNo);
        });

        function page(i) {
//					debugger;
            if (i == null || i == undefined) {
                i = 1;
            }
            $.ajax({
                url: "/jeecg/tDNoticeController.do?getNoticeList&pageSize=20&page=" + i,
                type: "get",
                dataType: "json",
                success: function (data) {
                    var da = data.retData;
                    var html = "";
                    $(da).each(function (i, obj) {
                        html += "<div class='item'><p style='font-size: 14px;border-bottom: 1px; '>" +
                            "<a href='#' onclick='goNocInfo(this.innerHTML)' id='noticeName' style='float: left'>" + obj.notice_name + "</a>" +
                            //									"<em style='display: none;' id='notId'>"+obj.id+"</em>"+
                            "<span style='float: right' id='budate'>"
                            + obj.create_date + "<span></p><br></div>";
                    });

                    $('#item').html(html);
                },
                error: function (data) {
                    //alert(data.retMsg);
                }
            });
        }

        function goNocInfo(str) {
            <!-- debugger; -->
            var noticeName = str;
            document.title = noticeName;
            var budate = $("#budate").text();
//				 var notId = $("#notId").text();
            $.ajax({
                url: "/jeecg/tDNoticeController.do?getNocticInfo&noticeName=" + noticeName,
                type: "get",
                dataType: "json",
                success: function (data) {
                    var context = data.content;
                    var html = "";
                    html += "<p style='font-size: 20px;text-align: center;font-weight: bold;margin-bottom:15px;'>" + noticeName + "</p>" +
                        "<span style='float: right;padding-right: 240px;font-size: 14px;'>" +
                        "<span style='font-size: 14px;margin-right: 98px;'>" + data.name + "</span>" +
                        data.create_date + "</span><br>" + context +
                        "<p align='right' style='margin-right: 60px;'><a href='javascript:location.reload();'>" +
                        "<img src='./Tonotice/back2.png' style='width: 55px;height: 36px;background:#f3782a'></a></p>";
                    $('#item').html(html);
                    $('#m-box').hide();

                },
                error: function (data) {
                    // alert('请更换兼容的浏览器！');
                }
            });

        }
    </script>



{/block}